/* .form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.form-control input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #8b005d;
}

/*T12* /
.form-control.invalid input{
  border-color: red ;
  background-color: rgb(238, 114, 114);
}
/*itt pedig az osztályon belül a inputra vagy az utánna írt kompnensre vonatkozik* /

.form-control.invalid label{
  color:crimson;
} */