table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f281;}
tr:hover {background-color: rgb(144, 255, 80);}

thead, tfoot {
  display: table-row-group
}

th {
  background-color: rgb(108, 168, 103);
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}